/* navbar start  */
.custom-navbar {
    background-color: rgb(222, 132, 166); /* or your color */
    backdrop-filter: blur(10px);
}

.logo {
    height: 50px;
    width: auto;
}


@media (max-width: 576px) {
    .logo {
        height: 40px;
    }
}

.nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff6b81;
}


body {
    padding-top: 70px;
    background-color: #d9d892;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.text-azure {
    color: azure !important;
}
/*  nav bar end  */


.team-section {
    background-color: #d9d892;
    text-align: center;
}
.box {
    align-items: center;
}

.gallery-section {
    background-color: #d9d892;
}
.title-box {
    font-family: Oswald;
    background-color: #d9d892;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
}


.people {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.one {
    background: rgb(120, 87, 181);
}
.two {
    background: rgb(135, 69, 69);
}
.three {
    background: rgb(64, 193, 111);
}
.four {
    background: rgb(209, 230, 109);
}
.five {
    background: rgb(38, 37, 68);
}
.six {
    background: rgb(153, 97, 60);
}


.people img {
    border-radius: 1rem;
    max-height: 50px;
    object-fit: cover;
}

HOVER EFFECT */ .box {
    transition: 0.3s;
}
.box:hover {
    transform: scale(1.1);
}


.name {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
}


.name1 {
    color: rgb(237, 165, 65);
    background: rgba(78, 91, 133, 0.8);
}
.name2 {
    color: rgb(239, 231, 8);
    background: rgba(40, 150, 80, 0.8);
}
.name3 {
    color: rgb(106, 90, 194);
    background: rgba(208, 222, 145, 0.8);
}
.name4 {
    color: rgb(161, 238, 147);
    background: rgba(60, 77, 192, 0.8);
}
.name5 {
    color: rgb(147, 238, 238);
    background: rgba(118, 41, 41, 0.8);
}
.name6 {
    color: rgb(245, 0, 139);
    background: rgba(34, 34, 35, 0.8);
}


.history-section {
    background-color: #d9d892;
}

.history-text {
    font-size: 1.1rem;
    line-height: 1.8;
}


.frame-box {
    border: 15px solid #c45454;
    box-shadow: -3px -3px 12px #b63a3a;
    max-width: 400px;
    margin: auto;
}

.frame-border {
    border: 30px solid white;
}

.frame-img {
    width: 100%;
}


@media (max-width: 576px) {
    .title-box {
        font-size: 1.6rem;
    }

    .people img {
        max-height: 150px;
    }

    .frame-border {
        border: 15px solid white;
    }
}


.section-title {
    font-family: Oswald;
    font-size: 2.5rem;
    background: rgb(223, 126, 81);
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}


.people {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.people img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 1rem;
}


.one {
    background: rgb(120, 87, 181);
}
.two {
    background: rgb(135, 69, 69);
}
.three {
    background: rgb(64, 193, 111);
}
.four {
    background: rgb(209, 230, 109);
}
.five {
    background: rgb(38, 37, 68);
}
.six {
    background: rgb(153, 97, 60);
}


.box {
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.1);
}


.name {
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
    display: inline-block;
}


.history-text {
    font-size: 1rem;
    line-height: 1.8;
}


.frame-box {
    border: 15px solid #c45454;
    box-shadow: -3px -3px 12px #b63a3a;
    max-width: 400px;
    margin: auto;
}

.frame-border {
    border: 30px solid white;
}

.frame-img {
    width: 100%;
}


@media (max-width: 576px) {
    .section-title {
        font-size: 1.8rem;
    }

    .people img {
        max-height: px;
    }

    .frame-border {
        border: 15px solid white;
    }
}
